.ipynb_checkpoints
*.DS_Store
*.DS_Store?
.idea
.idea/
"Exercises/11 - Scaling up/messages.json.gz" 
"Exercises/11 - Scaling up/score.json.gz" 
"Exercises/11 - Scaling up/Bombing_Operations.json.gz" 
"Exercises/11 - Scaling up/Aircraft_Glossary.json.gz" 
